body {
    background-color: lavender;
    font-family: "Arial Black";
    font-size: 15px;
}

fieldset {
    border-color: #4911ff;
    border-style: solid;
    border-radius: 10px;

}

legend {
    color: #4911ff;
}

/*collapse is what you put to get rid of the cell spacing*/
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


td, th {
    padding: 12px;
    border: inset 5px deepskyblue;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: yellow;
}

a:active {
    color: green;
}