/* ELEMENT SELECTORS */
body{
    background-color: #63ffd4;
    color: #4911ff;
    margin: 35px;
    border: 5px solid #4911ff;
    padding: 20px;
    font-family: "Arial",cursive,sans-serif;
}

p{
    color: black;
    clear: both;
    overflow: auto;
    line-height: 16px;
}

header{
    background-color: #ff5eb6;
    padding: 5px;
}

footer{
    background-color: #ff5eb6;
    text-align: center;
}

section{
    overflow: auto;
    border: 3px solid #37ffdf;
}

aside{
    float: left;
    width: 20%;
}

article{
    float: right;
    clear: left;
    background-color: #cf13ff;
    width: 80%;
}

/* CLASS SELECTORS */
.rightimg{
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
}

/* PSEUDO-CLASS SELECTORS */
a:link{
    color: #FF0000;
}
a:visited{
    color: #24CC5F;
}
a:hover{
    color: #FAFFA2;
}
a:active{
    color: #cf13ff;
}


/* CONTEXTUAL SELECTORS */

header li{
    display: inline;
}

nav a:link{
    color: #cf13ff;
    background-color: #faffa2;
}
nav a:visited{
    color: #cc190f;
    background-color: #63ffd4;
}
nav a:hover{
    color: #56dfff;
    background-color: #b006ff;
}
nav a:active{
    color: #649dff;
    background-color: #faffa2
}

h1{
    font-size: 20px;
    color: gold;
    background-color: red;
}
h2{
    font-size: 15px;
    color: hotpink;
    background-color: yellow;
}
h3{
    font-size: 25px;
    color: blue;
    background-color: lightgray;
}

.redlist{
    font-family: "Adobe Gothic Std B",serif,sans-serif;
    color: yellow;
    background-color: #649dff;
}