/* ELEMENT SELECTORS */
table {
    border: solid 5px #0000ff;
    border-spacing: 0px;
}

td, th {
    border: solid 1px #000000;
    padding:5px;
}

th {
     background-color: lightcyan;
     color: magenta;
 }

td {
    background-color: slategray;
    color: palegoldenrod;
}

/* CLASSES */
.total {
    background-color: #649dff;
}

.college {
    background-color: mediumturquoise;
    color: #4911ff;
}

